*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 60%;
    height: 100px;
    padding: 10px;
    margin: auto;
    justify-content: space-between;
    display: flex;
}
.link{
    text-decoration: none;
    color: #777;
    font-size: 12px;
}
.search_con{
    width: 50%;
    vertical-align: middle;
    position: relative;
}
.search{
    border: none;
    border-bottom: 3px solid #00d1ff;
    width: 80%;
    height: 30px;
}
.search_btn{
    border: none;
    background: url("./img/search.png");
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translate(-50%,-50%);
    /* height: 30px; */
}
.header>div{
    line-height: 80px;
}
.parent {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin: auto;
    }
.cards{
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
}
.upper{
    position: fixed;
    bottom: 40px;
    right: 4%;
}
footer{
    height: 150px;
    border: 1px solid #dddddd;
    background-color: #fafafa;
}
.footer_div{
    width: 60%;
    height: 100px;
    padding: 10px;
    margin: auto;
}