@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumSquareNeo-Variable';
}
.header{
    width: 60%;
    height: 100px;
    padding: 10px;
    margin: auto;
    justify-content: space-between;
    display: flex;
}
.link{
    text-decoration: none;
    color: #777;
    font-size: 12px;
}
.link:hover{
    color: #00d1ff;
}
.search_con{
    width: 50%;
    vertical-align: middle;
    position: relative;
}
.search{
    border: none;
    border-bottom: 3px solid #00d1ff;
    width: 80%;
    height: 30px;
}
.search_btn{
    border: none;
    background: url("/application/view/img/search.png");
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translate(-50%,-50%);
    /* height: 30px; */
}
.header>div{
    line-height: 80px;
}
/* .parent {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin: auto;
    } */
h1 {
    margin: 20px;
    font-weight: 900;
    text-align: center;
}
.cards{
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
}
.upper{
    position: fixed;
    bottom: 40px;
    right: 4%;
}
footer{
    height: 150px;
    width: 100%;
    border: 1px solid #dddddd;
    background-color: #fafafa;
}
.footer_div{
    width: 60%;
    height: 100px;
    padding: 10px;
    margin: auto;
}
.logoBox {
    margin: auto;
    margin-top: 100px;
    height: 100px;
    width: 120px;
    vertical-align: middle;
}
.loginBox {
    border: 1px solid #ccc;
    border-radius: 15px;
    /* height: 300px; */
    width: 400px;
    /* position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin: auto;
    padding: 30px;
    text-align: center;
    font-size: 0;
}
.formBox {
    position: relative;
}
.formBox i {
    position: absolute;
    left: 75%;
    top: 27px;
    color: orange;
}
.loginBox2 {
    margin: auto;
    margin-top: 50px;
    width: 400px;
    text-align: center;
}
button:hover {
    cursor: pointer;
}
.inp
,#btn1 {
    width: 100%;
    height: 50px;
}
.inp {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 0;
    margin-bottom: 10px;
}

#btn1
,#idDuplChk {
    border: none;
    font-size: 20px;
}
#btn1 {
    background-color: #00d1ff;
    color: #fff;
    font-weight: 900;
    margin-bottom: 10px;
}
#idDuplChk {
    width: 30%;
    height: 50px;
    background-color: #eee;
}
#irzrLogo {
    width: 120px;
}
#formBox {
    margin: 10px;
}
.warnMsg {
    font-size: 12px;
    margin-bottom: 10px;
    display: inline-block;
    color: red;    
}

.siteInfo {
    font-size: 12px;
}