#con {
    width: 600px;
    height: 700px;
    margin: 20px auto;
}

h1 {
    display: inline-block;
    background-color: cornflowerblue;
    color: #fff;

}

.accent {
    font-weight: bold;
    color: orange;
}